@font-face {
  font-family: "Ucup Style";
  font-weight: 100;
  font-style: normal;
  src: url("../assets/static/Roboto-Black.ttf") format("truetype");
}

.font-weight {
  font-weight: 900;
  font-size: 30px;
}

.font-style {
  font-style: italic;
  font-family: cursive, serif;
}

.font-family {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.font-size {
  font-size: 40px;
}

.roboto-online {
  font-family: "Roboto", sans-serif, serif;
  font-size: 80px;
}

.roboto-internal {
  font-family: "Ucup Style";
  font-size: 20px;
}
