h1 {
  background-color: pink;
  line-height: 100px;
  letter-spacing: 2px;
  word-spacing: 10px;
  text-transform: capitalize;
  text-decoration: none;
  text-align: justify;
}

p {
  text-align: justify;
  text-indent: 30px;
}
